@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-syne: "Syne", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF8F0;
  color: #1A0A00;
  font-family: var(--font-dm-sans);
}

@layer utilities {
  .font-syne {
    font-family: var(--font-syne);
  }
  .font-dm {
    font-family: var(--font-dm-sans);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #FFF8F0;
}
::-webkit-scrollbar-thumb {
  background: #E8320A;
  border-radius: 3px;
}
